@import 'utility';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Anton|Maven+Pro');

html {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  text-align: center;
}

.App {
  @extend #root;

  @include flex(column, center, center);
  @include linearGrad(lighten($brown, 8%), $brown);

  min-height: 100vh;
  max-height: 150vh;

  h1 {
    color: $primaryWhite;
    font-size: 3em;
    font-family: sans-serif;
    max-width: 400px;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: $primaryFont;
    color: $primaryWhite;
  }

  p {
    color: $primaryWhite;
    font-family: $primaryFont;
  }

  a {
    text-decoration: none;
  }

  // Title Props
  .topHead {
    @include flex(row, center, center);

    margin-top: 1.6em;
    border-top: 8px solid $primaryWhite;
    border-bottom: 8px solid $primaryWhite;
    transition: all 0.3s ease;

    &:hover {
      border-top: 8px solid $purple;
      border-bottom: 8px solid $purple;
    }
  }
}

header {
  @include flex(row, center, center);

  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 350px;
}

// Home Section
.Home {
  @include flex(column, center, center);

  margin-top: 6em;
  animation: $fadeIn;

  p {
    color: lighten($brown, 35%);
  }
}

.selectGame {
  @include flex(row, space-around, center);
  @include size(100%, 100%);

  margin-top: 1em;
  align-items: center;
  color: $primaryWhite;
  background-color: rgba(116, 119, 107, 0.5);
  border-radius: 5px;
}

button {
  @include flex(row, center, center);
  @include size(100px, 80px);
  @include primaryTransition(0.3s);

  align-items: center;
  opacity: 0.5;
  background-color: transparent;
  border: 0;
  animation: $fadeIn;

  &:focus {
    outline: 0;
    opacity: 1;
    background-color: $purple;
    border-radius: 5px;
  }

  &:hover {
    opacity: 1;
    background-color: $purple;
    border-radius: 5px;
  }
}

@each $key, $value in $diffMap {
  .difficulty.#{$key} {
    @include flex(row, space-around, center);
    @include backgroundProps(#{$value}, contain);
    @include size(50px, 50px);
    @include primaryTransition(0.3s);

    margin: 0 1em;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      opacity: 1;
    }
  }
}

.bombDisplay {
  @include backgroundProps('../images/bomb.svg', contain);
  @include size(200px, 200px);

  margin: auto;
  border-radius: 50%;
}

main {
  @include size(inherit, 100%);

  flex: 1;
}

// Game Props
.game {
  @include flex(column , center, center);
  @include size(100%, 100%);

  margin: 1em auto 0;
  color: $primaryWhite;
  animation: $blur;
}

.gameGrid {
  display: grid;
  grid-auto-columns: minmax(26px, 26px);
  grid-auto-rows: minmax(26px, 26px);
  margin: 1em;
}

@keyframes blurEntrance {
  @include blurEntrance();
}

.Cell {
  background-color: $purple;
  border-radius: 1px;
  margin: 0.1em;
  cursor: pointer;

  @include primaryTransition(0.1s);

  &:hover {
    background-color: lighten($purple, 10%);
    transform: scale(1.15);
  }
}

.unrevealed,
.numbered {
  font-family: $primaryFont;
  background-color: darken($purple, 10%);

  @include fadeIn(0.3s);
}

.empty {
  background-color: $purple;
}

.bomb,
.flagbomb {
  background-color: darken($purple, 10%);

  @include backgroundProps('../images/bombFlag.svg', contain);
  @include fadeIn(0.3s);
}

.flagged {
  background-color: darken($purple, 10%);

  @include backgroundProps('../images/flag.svg', contain);
  @include fadeIn(0.3s);
}

// Reset Props
button.resetButton {
  @include size(150px, 55px);

  margin: 1em;
  background-color: #74776b;
  color: #dff8eb;
  font-size: 1.2em;
  border-radius: 1px;
  cursor: pointer;

  @include primaryTransition(0.2s);

  &:focus {
    outline: 0;
    background-color: $purple;

    .icon {
      animation: spin 2s linear infinite;
    }
  }

  &:hover {
    transform: translate(0, -2px);
    background-color: #a28f9d;
    box-shadow: 3px 12px 25px -4px rgba(0, 0, 0, 0.58);

    .icon {
      animation: spin 2s linear infinite;
    }
  }

  &:active {
    transform: translate(0);
    box-shadow: none;
  }
}

.icon {
  @include primaryTransition(0.3s);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  @include primaryFadeIn();
}

// Result Props
.winner {
  @include flex(column, center, center);

  margin-top: 30vh;
  height: 100%;
  animation: $fadeIn;
}

.loser {
  @include flex(column, center, center);

  margin-top: 30vh;
  height: 100%;
  animation: $fadeIn;
}

footer {
  margin-bottom: 0.5em;
  font-family: $primaryFont;
  font-size: 0.8em;
  color: lighten($brown, 45%);
}
